# Python
__pycache__/
*.pyc
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Large compressed files
*.zip
*.rar
*.7z

# Large datasets - keep locally
data/raw_resumes/
data/structured_resumes/
data/sample_test_resumes/

# But keep folder structure
!data/raw_resumes/
!data/raw_resumes/real/
!data/raw_resumes/synthetic/
!data/raw_resumes/real/.gitkeep
!data/raw_resumes/synthetic/.gitkeep

!data/structured_resumes/
!data/structured_resumes/.gitkeep

!data/sample_test_resumes/
!data/sample_test_resumes/.gitkeep

# OS files
.DS_Store
Thumbs.db